body {
    background-color: #FF8C00;
}

h1 {
    font-family: Arial;
    margin-left: 40px;
    margin-top: 15px;
    text-align: center;
    height: 10px;
}

p {
    border-style: dashed;
    width: 220px;
    display: inline-block;
    position: static;
    padding-bottom: 10px;
}

tr, td {
  padding: 50px;
  text-align: center;

}


img {
  width: 100px;
}

form {
  font-size: 35px;
}
